//
//  Release.xcconfig
//  EmployeePortal
//
//  Created by sajeev Raj on 1/7/20.
//  Copyright © 2020 EmployeePortal. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_ID = com.workforceguardian.com

BASE_URL = services.workforceguardian.com.au/api/
AUTHENTICATION_URL = secure.workforceguardian.com.au/api/v1/

WEBSITE_URL = www.workforceguardian.com.au
FORGOT_PASSWORD_URL = secure.workforceguardian.com.au/CMForgottenPassword.aspx
